@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'),
  url('../fonts/roboto/OpenSansRegular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'),
  url('../fonts/roboto/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

