//fonts
$default-font: "OpenSans";


//general-color
$accent: #FFA1A0;
$grey: #7F7F7F;
$light-grey:#EBEBEB;
$white: #fff;

//media
$screen-max:    1600px;
$screen-lg-max: 1366px;
$screen-lg:     1200px;
$screen-md-max: 1025px;
$screen-md:     992px;
$screen-sm:     768px;
$screen-xs:     480px;

//other
$anim: .3s;
$radius: 5px;

