
.subnav {
	display: none;
	padding-left: 20px;
	&__link {
		line-height: 25px;
		font-size: 14px;
		color: $grey;
		&:hover {
			color: $accent;
		}
	}
}
@media (min-width: 992px) {
.subnav {
	z-index: 3;
	width: 100%;
	padding-left: 0;
	position: absolute;
	left: 0;
	background-color: $white;
	&__list {
		width: 20%
	}
	&__img {
		width: 100%;
		height: auto;
	}
	&__menu {
		width: 100%;
		padding: 20px;
	}

}
}